@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Versions!</h1>
    <p>Enter a software version to find newer software.</p>
    
    <form method="post">
        <div class="form-group">
            <label asp-for="Version" class="control-label">Version</label>
            <input asp-for="Version" class="form-controler" />
        </div>
        <div class="form-group">
            <input type="submit" value="Get Newer Software" class="btn btn-primary" />
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Version
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var software in Model.NewerSoftware) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => software.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => software.Version)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
